@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #eee;
}
body {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  overscroll-behavior: none; /* バウンススクロールを無効化 */
}
